/* AGENDA */

#thanks {
  color: white;
}

.agenda {
  margin-left: 10vh;
}

.agenda a {
  text-decoration: none;
  color: white;
}

.agenda a:hover {
  cursor: pointer;
  color: gray;
}

body {
  background-color: black;
}
.container-fluid {
  background-color: black;
}

span {
  color: white;
}

/* CARDS */

#hyper:hover {
  color: gray;
  cursor: pointer;
}

#hyper {
  text-decoration: none;
  color: white;
}

.card-text {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
}

.card {
  background-color: rgb(29, 28, 28);
}

#img-card {
  width: 14.9vw;
  height: 28vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-body{
  box-shadow: rgba(27, 27, 27, 0.3) 0px 19px 38px, rgba(85, 84, 84, 0.22) 0px 15px 12px;
}

@media only screen and (max-device-width: 1440px) {
  #img-card {
    width: 19rem;
    
  }
}

@media only screen and (max-device-width: 1440px) {
  .card-body {
    width: 19rem;
    background-color: rgb(37, 36, 36);
    
  }
}

@media only screen and (max-device-width: 1024px) {
  #img-card {
    width: 17rem;
    
  }
}

@media only screen and (max-device-width: 1024px) {
  #hyper {
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 1024px) {
  .card-body {
    width: 17rem;
    background-color: rgb(37, 36, 36);
  }
}

@media only screen and (min-device-width: 2560px) {
  * {
    font-size: 1.3rem;
  }

}

@media only screen and (min-device-width: 2560px) {
  .card-body {
    width: 17rem;
  }
}

@media only screen and (min-device-width: 2560px){
  #img-card{ 
    width: 18.4rem;
  }
}