/* AGENDA */

#thanks {
  color: white;
}

.agenda {
  margin-left: 10vh;
}

.agenda a {
  text-decoration: none;
  color: white;
}

.agenda a:hover {
  color: gray;
}

body {
  background-color: black;
}
.container-fluid {
  background-color: black;
}

span {
  color: white;
}

/* CARDS */

#hyper:hover {
  color: gray;
}

#hyper {
  text-decoration: none;
  color: white;
}

.card-text {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

.card {
  background-color: rgb(29, 28, 28);
}

#img-card {
  width: 14.9vw;
  height: 28vh;
}
