/* AGENDA */

#thanks {
  color: white;
}

.agenda {
  margin-left: 10vh;
}

.agenda a {
  text-decoration: none;
  color: white;
}

.agenda a:hover {
  cursor: pointer;
  color: gray;
}

body {
  background-color: black;
}
.container-fluid {
  background-color: black;
}

span {
  color: white;
}

/* CARDS */

#hyper:hover {
  color: gray;
  cursor: pointer;
}

#hyper {
  text-decoration: none;
  color: white;
}

.card-text {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
}

.card {
  background-color: rgb(29, 28, 28);
}

#img-card {
  width: 14.9vw;
  height: 28vh;
}

@media only screen and (max-device-width: 900px) {
  #img-card {
    width: 15rem;
    
  }
}

@media only screen and (max-device-width: 900px) {
  #hyper {
    font-size: 1rem;
  }
}

@media only screen and (max-device-width: 900px) {
  .card-body {
    width: 15rem;
    background-color: rgb(37, 36, 36);
  }
}