#btn{
    margin-left: 42vw;
}

#checkout:hover{
    color: none;
    text-decoration: none;
    background-color: black;
    
  }
  
  #checkout{
    background-color: black;
    color: white;
    text-decoration: none;
  }