#btn{
    margin-left: 42vw;
}

#checkout:hover{
    color: none;
    text-decoration: none;
    background-color: black;
    
  }
  
  #checkout{
    background-color: black;
    color: white;
    text-decoration: none;
  }

  .cont-table{
    background-color: black;
  }


  .btn-gold {
    background-color:#ad9d91 !important;
    color: white;
  }

  .title-chekout {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
  }