
.nav-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  margin: auto;
  width: max-content;
  padding-top: 10px;
  color: white;
}
.main-servicios{
  background-color:white;
  max-width: 1200px;
  margin:0px auto;
  padding: 15px;
}

.precio-extra {
  font-weight: bolder;
  font-size: 1.1rem;
  float: right;
  padding-right: 10px;
}

.form-check {
  line-height: 1.5rem;
}

.contact-number{
  font-size: 1.6rem;
  text-align: center;
  color: #ad9d91;
}

.fa-whatsapp {
  font-size: 1.6rem;
  font-weight: 700;
}

.modal-servicio{
  background-color: black;
  max-width: 1200px;
  margin:0px auto;
  padding: 15px;
  text-align: justify;
  color: white;
}
.header-soporte {
  background-color: #ad9d91;
}
.faq {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  width: 100%;
  text-align: left;
}

.faq-card {
  background-color: black;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.bg-dark {
    background-color: black !important;
}

.fas fa-calendar-alt{
    font-size: 1.2rem;
    margin-right: 5px;
}

.agenda {
    padding-bottom: 15px;
}
.btn-primary {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    padding: 5px 10px;
    background-color: black !important;
    border-color: whitesmoke !important;
}

.titulos-servicios {
    color:white;
}


.checkout{
  color: white !important;
}