.nav-link {
  font-family: 'Italiana', serif;
  font-weight: bolder;
}

.site-footer
{
background-color:black;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px;
font-family: 'Italiana', serif;
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none;
font-family: 'Roboto', sans-serif;
}
.footer-links li
{
display:block
}
.footer-links a
{
color:white;
font-family: 'Roboto', sans-serif;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}
.row .modal-registro{
  background-color:black;
  max-width: 1200px;
  margin: 0px auto;
}

.container{
    background-image: url("../img/bg-registro.jpg");
    background-size: contain;
    background-repeat: round;
}

.contenedor-principal {
  padding: 20px;
  background-image: url("../img/bg-registro-2.jpg");
  background-size: contain;
  background-repeat: round;
}

.columna-img {
  background-image: url("../img/auto-registro.jpg");
  background-size: cover;
}
.titulos-interiores {
  font-family: 'Italiana', serif;
}
.parrafo-intro {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
.form-group {
  font-family: 'Roboto', sans-serif;
  color:white;
}

.btn-gold {
  background-color:#ad9d91;
  color: white;
}

.columna-form {
  margin-top:15px;
  margin-bottom:15px;
  color:white;
}

.main-servicios{
  background-color:white;
  max-width: 1200px;
  margin:0px auto;
  padding: 15px;
}

.precio-extra {
  font-weight: bolder;
  font-size: 1.1rem;
  float: right;
  padding-right: 10px;
}

.form-check {
  line-height: 1.5rem;
}

.contact-number{
  font-size: 1.6rem;
  text-align: center;
  color: #ad9d91;
}

.fa-whatsapp {
  font-size: 1.6rem;
  font-weight: 700;
}

.modal-servicio{
  background-color: black;
  max-width: 1200px;
  margin:0px auto;
  padding: 15px;
  text-align: justify;
  color: white;
}
.header-soporte {
  background-color: #ad9d91;
}
.faq {
  text-decoration: none;
  color: white;
  font-family: 'Italiana', serif;
  width: 100%;
  text-align: left;
}

.faq-card {
  background-color: black;
}

.bg-dark {
    background-color: black !important;
}

.fas fa-calendar-alt{
    font-size: 1.2rem;
    margin-right: 5px;
}

.agenda {
    padding-bottom: 15px;
}
.btn-primary {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: black !important;
    border-color: whitesmoke !important;
}