.nav-item li {
    font-family: 'Open Sans';
    font-style: normal;
    margin: auto;
    width: max-content;
    color: white;
  }
  
  .nav-link {
    font-size: 1.1rem;
  }
  
  #nav-brand {
      width: 9rem;
      height: 3rem;
  }

  .navbar {
      padding-bottom: none;
  }