/* PARALLAX */
.parallax {
    /* The image used */
    background-image: url("https://i.pinimg.com/originals/2c/87/0a/2c870a61870e120bfcca3ab99c9dd2bf.jpg");
  
    /* Set a specific height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-image: center;
    background-repeat: no-repeat;
    
  }

//4k responsive

  @media only screen and (max-device-width: 2570px) {
    .parallax{
        display: none;
    }
  }

  @media only screen and (max-device-width: 1366px) {
    #upper-paralax {
   display: none;
   }
}

#upper-paralax {
   background-color: black;
   }