.row .modal-registro{
    background-color:black;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  
  .container{
      background-image: url("../img/bg-registro.jpg");
      background-size: contain;
      background-repeat: round;
  }
  
  .contenedor-principal {
    padding: 50px !important;
    background-image: url("../img/bg-registro-2.jpg");
    background-size: contain;
    background-repeat: round;
  }
  
  .columna-img {
    background-image: url("../img/auto-registro.jpg");
    background-size: cover;
    background-position: center;
  }
  .titulos-interiores {
    font-family: 'Italiana', serif;
  }
  .parrafo-intro {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
  }
  .form-group {
    font-family: 'Roboto', sans-serif;
    color:white;
  }
  
  .btn-gold {
    background-color:#ad9d91;
    color: white;
  }
  
  .columna-form {
    margin-top:15px;
    margin-bottom:15px;
    color:white;
  }
  