
#black-font{
    color: black;
  }

  .main-servicios{
    background-color:white;
    max-width: 1200px;
    margin:0px auto;
    padding: 15px;
  }

  .main-servicios{
    background-color:white;
    max-width: 1200px;
    margin:0px auto;
    padding: 15px;
  }

  
.precio-extra {
    font-weight: bolder;
    font-size: 1.1rem;
    float: right;
    padding-right: 10px;
  }

  .form-check {
    line-height: 1.5rem;
  }

  .parrafo-intro{
      font-weight: 1000;
      font-size: 1rem;
  }
  