


  .main-servicios{
    background-color:white;
    max-width: 1200px;
    margin:0px auto;
    padding: 15px;
  }

    // Tamaño de el precio y color de los servicios extra

.precio-extra {
    font-weight: bolder;
    font-size: 1.1rem;
    float: right;
    padding-right: 10px;
  }

#black-font{
    color: black;
  }

  // Tamaño de los intro de cada sección

  .parrafo-intro{
      font-weight: 1000;
      font-size: 1rem;
  }
  
  // Hover, y color agregado a los bonotes de agendamiento 

  #hr{
    margin: 0.2rem;
  }

  #hr:hover{background-color: #bd0505}

  #hr:active{
    background-color: #cfd5c4;
  box-shadow: 0 5px rgb(33, 16, 107);
  transform: translateY(4px);
  }

  // Tamaño del icono de calendario hecho

  #calendar {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
  }

  //Margen del segundo titulo

  #marg {
    margin-top: 1rem;
    color: black;
    font-weight: 700;
  }

  //Editando CSS de imagenes servicio y collapsibles

  .card-img-top:hover{
    cursor: pointer;
  }

  .colla:hover {
    cursor: pointer;

  }