
#cardib{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

  .main-servicios{
    background-color:white;
    max-width: 1200px;
    margin:0px auto;
    padding: 15px;
  }

    // Tamaño de el precio y color de los servicios extra

.precio-extra {
    font-weight: bolder;
    font-size: 1.1rem;
    float: right;
    padding-right: 10px;
  }

#black-font{
    color: black;
  }

  #black-font:hover{
    cursor: pointer;
  }
  // Tamaño de los intro de cada sección

  .parrafo-intro{
      font-weight: 1000;
      font-size: 1rem;
  }
  
  // Hover, y color agregado a los bonotes de agendamiento 

  #hr{
    margin: 0.2rem;
  }

  #hr:active{
    background-color: #cfd5c4;
    box-shadow: rgba(2, 2, 2, 0.4) -5px 5px, rgba(3, 3, 3, 0.3) -10px 10px, rgba(8, 8, 8, 0.2) -15px 15px, rgba(8, 8, 8, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }

  // Tamaño del icono de calendario hecho

  #calendar {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-top: 0.2rem;
  }

  //Margen del segundo titulo

  #marg {
    margin-top: 1rem;
    color: black;
    font-weight: 700;
  }

  //Editando CSS de imagenes servicio y collapsibles

  .card-img-top:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .colla:hover {
    cursor: pointer;
    box-shadow: rgba(250, 250, 250, 0.007) 0px 14px 28px, rgba(201, 195, 195, 0.021) 0px 10px 10px;

  }

//button style 

#checkout {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


  @media only screen and (max-device-width: 1200px){
    #cardib {
      width: 16.1rem;
    }
  }

  @media only screen and (max-device-width: 1024px){
    #cardib {
      width: 15.1rem;
    }
  }

  @media only screen and (max-device-width: 768px){
    #cardib {
      width: 9.901rem;
    }
  }