#upper-paralax {
    background-color: black;
}


#pitem {
    font-size: 40px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
}
