#upper-paralax {
    background-color: black;
}


#pitem {
    width: 100px;
    margin-top: 200px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.yt{
    width:48vw;
	height:48vh;
}
