#upper-paralax {
    background-color: black;
}

.yt{
    width:48vw;
	height:48vh;
}

div h2 {
    color: white;
    padding-bottom: 1vw;
    margin-left: 1vw;
}

.form-check-label {
    color: white;
    padding-bottom: 1vw;
    font-weight: 500;
}

.precio-extra{
    color: white;
}